<div class="container">
  <div class="row mt-5 text-center">
    <h1>{{ "page.title" | translate }}</h1>

    <div class="row my-4">
      <div class="col-8">
        <input class="form-control" type="text" (input)="onChange($event)"/>
      </div>
      <div class="col-2">
        <button [disabled]="!canAdd" (click)="onAddChoiceClick()" class="btn btn-primary">{{ "page.add" | translate }}</button>
      </div>
      <div class="col-2">
        <button [disabled]="!canChoose" (click)="onChooseClick()" class="btn btn-secondary">{{ "page.choose" | translate }}</button>
      </div>
    </div>

    <div class="container">
      <ng-container *ngFor="let choice of choices; let i = index">
        <app-choice-item [index]="i" [selectedChoiceIndex]="selectedChoiceIndex" [isSelected]="i === selectedChoiceIndex" [name]="choice" (onDelete)="onDeleteChoice($event, i)"></app-choice-item>
      </ng-container>
    </div>

  </div>
</div>

